body {
    height: 100vh;
    margin: 0;
}
.login-container {
    height: 100%;
}
.welcome-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-section {
    background-color: #c63e42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.logo-container {
    max-width: 500px;
}
.login-form .input-group {
    display: flex;
    align-items: center;
}
.input-group-text {
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.5rem;
    border-right: none;
}
.input-group .form-control {
    padding: 0.5rem;
    border-radius: 0 0.25rem 0.25rem 0;
    border-left: none;
}
.login-btn {
    background-color: #b7b7b7;
    color: #fff;
    font-weight: 600;
    margin-top: 1rem;
    width: 75px;
}
.login-btn:hover {
    background-color: #f0f0f0;
}
.welcome-text {
    color: #c63e42;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.school-name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
